@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.page-update {
	line-height: 1.8;
	/* color: #fff; */
	/* font-weight: 400; */
	height: 100vh;
	display: flex;
	align-items: center;

    /* background-image: url('/Images/registration2.png');
    background-size: contain; 
    background-position: left; 
    background-repeat: no-repeat;  */
	
	justify-content: center;
}

.update-container {
	width: 900px;
	height: auto;
	/* background: #1d1b31; */
	border-radius: 20px;
	margin-left: 150px;
}

[data-theme='dark']
.update-container {
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.75);
}

[data-theme='light']
.update-container {
	box-shadow: 0 0 10px 1px rgba(116, 115, 115, 0.75);
}

.update-content {
	display: flex;
	display: -webkit-flex;
}

.update-content {
	padding: 75px 0;
}

.update-form,
.update-image {
	width: 50%;
	overflow: hidden;
}

.update-form {
	margin-left: 0px;
	margin-right: 0px;
	padding: 0 30px;
}

/* .add-image,   
.signin-form,
.signin-image {
	width: auto;
} */

/* .add-image {
	margin: 0 55px;
	margin-top: 45px;
} */

.form-title {
	margin-bottom: 33px;
	text-align: center;
	font-size: 28px;
}

.update-form-container {
	width: 100%;
}

.form-group {
	position: relative;
    /* padding-bottom: 20px; */
	margin-bottom: 20px;
}

.form-group label {
	position: absolute;
	left: 10px;
	top: 55%;
	transform: translateY(-50%);
	pointer-events: none;
}

.success-message {
	/* margin-left: 15px; */
	margin-top: 15px;
	color: #34eb3d;
	font-size: 16px;
}

.error-message {
	/* margin-left: 15px; */
	margin-top: 15px;
	color: #ce0000;
	font-size: 16px;
}

.material-icons-name {
	font-size: 18px;
}

.back-button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
	margin-left: 200px;
}

[data-theme='dark']
.back-button {
	color: wheat;
}

[data-theme='light']
.back-button {
	color: #333;
}

.back-button:hover {
	text-decoration: underline;
	text-underline-offset: 0.3em;
}

[data-theme='dark']
.back-button:hover {
	color: lightgrey;
}

[data-theme='light']
.back-button:hover {
	color: #666;
}

.page-update input {
	width: 100%;
	padding: 10px 10px 10px 20px;
	border: none;
	/* #999 */
    /* margin-bottom: 20px; */
	box-sizing: border-box;
	/* background-color: #1d1b31; */
	font-size: 20px;
	/* color: #fff; */
}

.page-update input {
	border-bottom: 1px solid lightgray;
}

[data-theme='light']
.page-update input {
	border-bottom: 1px solid #888;
}


.page-update input:focus {
	outline: none;
}

[data-theme='dark']
.page-update input:focus {
	border-bottom: 1px solid #fff;
}

[data-theme='light']
.page-update input:focus {
	border-bottom: 1px solid #000;
}

.form-button {
	text-align: center;
}

.form-submit {
	background-color: #6a91fa;
	color: white; 
	border: none; 
	padding: 12px 20px;
	border-radius: 5px; 
	width: 100%; 
	font-size: 16px; 
	cursor: pointer; 
	text-align: center; 
	transition: background-color 0.3s; 
  }
  
  .form-submit:hover {
	background-color: #406ff3;
  }

.dynamic-img {
	height: 85%;
	margin-top: 20px;
}

[data-theme='dark']
option {
    color: lightgray;
    background-color: #333; 
}

[data-theme='dark']
option {
    color: #333;
    background-color: lightgray; 
}

.select-container {
    position: relative;
    margin-bottom: 10px; 
}

.select-container select {
    width: 100%;
    padding: 10px;
    border: none;
    background: transparent;
    color: inherit;
    appearance: none;
    outline: none;
    font-size: 20px; 
    color: #888;
    padding-left: 20px; 
}

[data-theme='dark']
.select-container select {
	border-bottom: 1px solid lightgray;
}

[data-theme='light']
.select-container select {
	border-bottom: 1px solid #333;
}

.select-container::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: calc(50% - 0.5em);
    pointer-events: none;
}

[data-theme='dark']
.select-container select:focus {
    border-bottom: 1px solid #fff;
}

[data-theme='light']
.select-container select:focus {
    border-bottom: 1px solid #333;
}