.registrationPage {
	font-size: 13px;
	line-height: 1.8;
	color: #fff;
	font-weight: 400;
	height: 100vh;
	display: flex;
	align-items: center;
	/* Центрирует по вертикали */
	justify-content: center;
	/* Центрирует по горизонтали */
}

.container {
	width: 1000px;
	height: 600px;
	background: #1d1b31;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	margin-left: 150px;
}

.displayFlex,
.displayFlexCenter,
.signupContent,
.signinContent,
.socialLogin,
.socials {
	display: flex;
	display: -webkit-flex;
}

.signupContent {
	padding: 75px 0;
}

.signupForm,
.signupImage,
.signinForm,
.signinImage {
	width: 50%;
	overflow: hidden;
}

.signupForm {
	margin-left: 0px;
	margin-right: 0px;
	padding: 0 30px;
}

.signupImage,
.signinForm,
.signinImage {
	width: auto;
}

.signupImage {
	margin: 0 55px;
	margin-top: 45px;
}

.formTitle {
	margin-bottom: 33px;
	text-align: center;
	font-size: 28px;
}

.registerForm {
	width: 100%;
}

.formGroup {
	position: relative;
	margin-bottom: 25px;
}

.formGroup label {
	position: absolute;
	left: 10px;
	top: 55%;
	transform: translateY(-50%);
	pointer-events: none;
}

.materialIconsName {
	font-size: 18px;
}

.signupLink {
	font-size: 14px;
	color: #fff;
	display: block;
	margin-left: 70px;
	width: 270px;
}

.registrationPage input {
	width: 100%;
	padding: 10px 10px 10px 40px;
	border: none;
	border-bottom: 1px solid #fff;
	/* #999 */
	font-family: Poppins;
	box-sizing: border-box;
	background-color: #1d1b31;
	font-size: 20px;
	color: #fff;
}


.registrationPage input:focus {
	border-bottom: 1px solid #fff;
	outline: none;
}

.formButton {
	text-align: center;
}

.formSubmit {
	background-color: #6a91fa; /* Цвет кнопки */
	color: white; /* Цвет текста */
	border: none; /* Убираем стандартную границу */
	padding: 12px 20px; /* Отступы: сверху и снизу больше для вытянутого вида */
	border-radius: 5px; /* Скругление углов */
	width: 100%; /* Ширина на 100% */
	font-size: 16px; /* Размер шрифта */
	cursor: pointer; /* Указатель курсора при наведении */
	text-align: center; /* Центрирование текста */
	transition: background-color 0.3s; /* Плавный переход цвета при наведении */
  }
  
  .formSubmit:hover {
	background-color: #406ff3; /* Цвет кнопки при наведении */
  }	

.registrationImg {
	height: 70%;
}